name: Build LaTeX
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex

      - name: Upload PDF Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Course-Notes-PDF
          path: main.pdf
